<h3>Обо мне</h3>
Всем привет, меня зовут Игорь(на GitHub: CodeIgor31).
<p>Рад, что вы заглянули на страничку моего дневника. Я буду стараться постоянно его вести, чтобы вы не заскучали.</p>
<p>Оставляйте комментарии, проявляйте больше актива, всем буду рад ответить или просто поговорить!</p>
<strong>Немного обо мне:</strong>
<p>Студент МГТУ им. Н.Э. Баумана</p>
<p>2 курс</p>
<p><strong>Дата рождения:</strong> 31.03.2004 (молодой еще)</p>
<p><strong>Моё хобби:</strong> Футбол, баскетбол и программирование (-_-) </p>
<p>Контакты для связи:</p>
<p><strong>Почта:</strong> yagmurov.igor@mail.ru</p>
<p><strong>Номер телефона:</strong> 89163849119</p>
<p>Если захотите поддержать, то вот мои реквизиты:</p>
<p>2202 2021 0275 9416 (Сбербанк)</p>
<p>5536 9141 4388 0759 (Тинькофф)</p>